.dashboard-nav {
  position: absolute;
  width: 100%;
  right: 0;
  padding-top: 0px;
  height: 10.2%;
  line-height: 100%;
  margin-top: 0px;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-dashboard a h4 {
  display: grid;
  place-items: center;
  flex: 30%;
}

.logo-dashboard {
  height: 100%;
  position: relative;
  width: 7.60869565217%;
  position: fixed;
}

.logo-dashboard a {
  display: flex;
  flex-direction: row;
  padding: 0;
  text-decoration: none;
  color: white;
  text-transform: none;
  letter-spacing: 4px;
  font-size: 1em;
  align-items: center;
  background-color: #2f3aa3;
  margin: 0;

  height: 100%;
  line-height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

/*#6d39ac*/

.plus-icon {
  padding-left: 4%;
}

.name-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.account-header {
  display: flex;
  flex-direction: column;

  right: 9%;
  position: absolute;
  margin-top: 1%;
}

.account-img-header {
  position: absolute;
  right: 23%;
}

.email-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  color: #857a7a;
  padding-top: 2%;
}

.down-arrow-header {
  position: absolute;
  right: 5%;
  top: 57%;
}
